on: push
name: deploy-2
jobs:
  deploy-to-cluster:
    name: deploy to cluster
    runs-on: ubuntu-20.04
    steps:
    - name: user github actions
      uses: actions/checkout@v2.4.2
    - name: build and push to docker
      uses: docker/build-push-action@v3.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: ${{ github.reposity }}
        tag_with_ref: true
        tag_with_sha: true
        tags: ${{ github.sha }}